---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaaaaaa/Messages.json
    body:
      encoding: UTF-8
      string: Body=My+first+text+message&From=%2B15005550006&StatusCallback=https%3A%2F%2Fpostb.in%2F1602282829440-8543455265462%2Fsms_status&To=%2B16515550195
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic abcdefg==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQa86ca5c57c26475ba25c9630b35d9fc4
      Twilio-Request-Duration:
      - '0.052'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SM1234", "date_created": "Tue,
        20 Oct 2020 13:54:03 +0000", "date_updated": "Tue, 20 Oct 2020 13:54:03 +0000",
        "date_sent": null, "account_sid": "ACaaaaaa", "to":
        "+16515550195", "from": "+15005550006", "messaging_service_sid": null, "body":
        "My first text message", "status": "queued", "num_segments": "1", "num_media":
        "0", "direction": "outbound-api", "api_version": "2010-04-01", "price": null,
        "price_unit": "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/ACaaaaaa/Messages/SM1234.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACaaaaaa/Messages/SM1234/Media.json"}}'
  recorded_at: Tue, 20 Oct 2020 13:54:03 GMT
recorded_with: VCR 6.0.0
