---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaaaaaa/Messages.json
    body:
      encoding: UTF-8
      string: Body=hello&From=%2B15005550006&StatusCallback=https%3A%2F%2Fyour.deployment.blahblah%2Fsms_status&To=%2B16515551212
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhYWFhYWE6YWFhYWFhYQ==
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ7d5b41b9d2aa467793323f3f8aa3e142
      Twilio-Request-Duration:
      - '0.003'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 20404, "message": "The requested resource /2010-04-01/Accounts/ACaaaaaa/Messages.json
        was not found", "more_info": "https://www.twilio.com/docs/errors/20404", "status":
        404}'
  recorded_at: Sat, 21 Nov 2020 22:14:21 GMT
recorded_with: VCR 6.0.0
