---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaaaaaa/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message&From=%2B15005550006&To=%2B15005550006
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic abcdefg==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ9ed827ef0c6c4d3bbded91903591526d
      Twilio-Request-Duration:
      - '0.047'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SMbbbbbb", "date_created": "Sun,
        06 Sep 2020 19:46:01 +0000", "date_updated": "Sun, 06 Sep 2020 19:46:01 +0000",
        "date_sent": null, "account_sid": "ACaaaaaa", "to":
        "+15005550006", "from": "+15005550006", "messaging_service_sid": null, "body":
        "test message", "status": "queued", "num_segments": "1", "num_media": "0",
        "direction": "outbound-api", "api_version": "2010-04-01", "price": null, "price_unit":
        "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/ACaaaaaa/Messages/SMbbbbbb.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACaaaaaa/Messages/SMbbbbbb/Media.json"}}'
  recorded_at: Sun, 06 Sep 2020 19:46:01 GMT
recorded_with: VCR 5.1.0
