---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaaaaaa/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message&From=%2B15005550006&To=%2B15005550001
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic abcdefg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQc981562a911c4c0db313d256dfa50bbb
      Twilio-Request-Duration:
      - '0.056'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number +15005550001 is not a
        valid phone number.", "more_info": "https://www.twilio.com/docs/errors/21211",
        "status": 400}'
  recorded_at: Sun, 06 Sep 2020 19:46:01 GMT
recorded_with: VCR 5.1.0
