---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaaaaaa/Messages.json
    body:
      encoding: UTF-8
      string: Body=My+first+text+message&From=%2B15005550006&To=15005550006
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic abcdef==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ6c7b9f2179d24b8c95f2e4c7c066246a
      Twilio-Request-Duration:
      - '0.062'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SM1234", "date_created": "Sun,
        06 Sep 2020 21:26:02 +0000", "date_updated": "Sun, 06 Sep 2020 21:26:02 +0000",
        "date_sent": null, "account_sid": "ACaaaaaa", "to":
        "+15005550006", "from": "+15005550006", "messaging_service_sid": null, "body":
        "My first text message", "status": "queued", "num_segments": "1", "num_media":
        "0", "direction": "outbound-api", "api_version": "2010-04-01", "price": null,
        "price_unit": "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/ACaaaaaa/Messages/SM1234.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACaaaaaa/Messages/SM1234/Media.json"}}'
  recorded_at: Sun, 06 Sep 2020 21:26:02 GMT
[...]
